1. Instantiation of the superhero associated with the player
- there are many attributes to allow its customization
- name, is Positive, points Life, weapon Left Hand, weapon Right Hand, super Power, is Wounded Critical, super Super Power, etc.
- an efficient solution must be found that allows the creation of the superhero without giving values for all the attributes but also without allowing the programmers to omit some of them

1. Instantiation of the superhero associated with the player
- there are many attributes to allow its customization
- name, is Positive, points Life, weapon Left Hand, weapon Right Hand, super Power, is Wounded Critical, super Super Power, etc.
- an efficient solution must be found that allows the creation of the superhero without giving values for all the attributes but also without allowing the programmers to omit some of them